.header {
  padding-top: 29px;
  padding-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .switcher {
    border-radius: 6px;
    padding: 1px;
    display: flex;
  }

  .button {
    padding: 8px 12px;
    background-color: transparent;
    color: #4d5562;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: rgba(243, 244, 246, 1);

    &.isactive {
      background-color: #fff;
    }
  }

  .button img {
    margin-right: 10px;
  }
}
